* {
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    width: 100vw;
}

/********************** HEADING CONTAINER ****************************/

.heading-container {
    height: 6vh;
    background-color: rgb(25, 193, 73);
    display: flex;
    align-items: center;
    justify-content: center;
}

h2 {
    color: rgb(233, 242, 233);
}

/********************** MENU CONTAINER ****************************/

.menu-container {
    height: 5vh;
    background-color: rgb(237, 241, 241);
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-bar{
    display: flex;
    border-radius: 2rem;
    background-color: #c0e0ea;
    width: 97%;;
    width: 97%;
    gap:1rem;
}

.separator-cont{
    display: flex;
    align-items: center;
    justify-content: center;
}

.font-container {
    display: flex;
    align-items: center;
    gap: 2px;
    padding-left: 25px;
}

.dropdown {
    border-radius: 2rem;
    width: 50%;
    cursor: pointer;
}

.color-container {
    display: flex;
    gap: 2px;
    align-items: center;
}

#favcolor {
    cursor: pointer;
    border: none;
}

.fa-solid{
    border: none;
    cursor: pointer;
}

.BIU-container {
    display: flex;
    gap: 2px;
}

.bold,
.italic,
.underline {
    background-color: #c0e0ea;
    width: 97%;;
    height: 2rem;
    width: 2rem;
    font-size: 1rem;
}

.align-container {
    display: flex;
    gap: 2px;
}

.left,
.center,
.right {
    background-color: #c0e0ea;
    width: 97%;;
    height: 2rem;
    width: 2rem;
    font-size: 1rem;
}

.bold:hover,
.italic:hover,
.underline:hover,
.left:hover,
.center:hover,
.right:hover {
    background-color: lightgray; 
}

.activeBtn{
    background-color: #b1b1f7;
}


/********************** INFORMATION CONTAINER ****************************/

.info-container {
    height: 5vh;
    background-color: rgb(190, 193, 194);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    padding-left: 25px;
}

.address-bar {
    width: 3rem;
    outline: none;
    border: none;
    border-radius: 2rem;
    height: 20px;
    padding-left: 1rem;
}

.formula-cont {
    width: 1273px;
    height: 20px;
    border-radius: 2rem;
    outline-color: rgb(121, 91, 231);
    border: none;
    padding-left: 10px;
}

/********************** GRID CONTAINER ****************************/


.grid-container {
    height: 79vh;
    width: 100vw;
    position: relative;
    overflow: auto;
}

.top-left-corner {
    position: absolute;
    background-color: #f7eeee;
    border-bottom: 1px solid;
    border-color: lightgrey;
    height: 30px;
    width: 3vw;
    z-index: 1;
}

.top-right-row {
    position:absolute;
    left: 3vw;
    height: 30px;
    border-bottom: 1px solid;
    border-color: lightgrey;
    display: flex;
    align-items: center;
    z-index: 1;
}

.col {
    height: 30px;
    width: 120px;
    border-left: 1px solid;
    border-color: lightgrey;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    outline-color: rgb(121, 91, 231);
}

.grid .col{
    display: flex;
    justify-content: flex-start;
}

.left-column {
    position: absolute;
    top: 30px;
    width: 3vw;
    display: flex;
    flex-direction: column;
}

.row{
    height: 30px;
    border-bottom: 1px solid;
    border-color: lightgrey;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border-style: ridge; */
}


.grid {
    position: absolute;
    top: 30px;
    left: 3vw;
}

/********************** SHEET CONTAINER ****************************/

.sheet-container {
    display: flex;
    background-color: rgb(190, 193, 194);
    height: 5vh;
    align-items: center;
    gap: 25px;
    padding-left: 40px;
}

.add-btn-cont{
    font-size: larger;
    cursor: pointer;
}

.add-btn-cont :hover{
    background-color: aqua;
}

.active-sheet{
    cursor: pointer;
    color: rgb(69, 7, 127);
}


